%h1 Courses
%table.table.table-striped{:id => "datatables"}
  %thead
    %tr
      %th 
        - if controller_name == "user_courses"
          Remove
        - else
          Add
      %th Course Number
      %th Section
      %th Title
      %th Instructor
      %th Seats Left
      %th Seats
      %th Building
      %th Room
      %th Start Time
      %th End Time
      %th Days
      %th College
  %tbody
    -if controller_name == "user_courses"
      = raw DatatablesRails::Out.javascript("datatables", {:process => true, :jqueryui => true, :paginate => true, :server_side => true}, user_courses_path(:format => :json), ::UserCoursesController::DatatableFields)
    -else 
      = raw  DatatablesRails::Out.javascript("datatables", {:process => true, :jqueryui => true, :paginate => true, :server_side => true}, courses_path(:format => :json), ::CoursesController::DatatableFields)

- if @unavailable_courses
  %h2 Unavailable Courses
  %table.table.table-striped
    %tr
      %th Course Number
      %th Section
      %th Title
      %th Instructor
      %th Seats Left
      %th Seats
      %th Building
      %th Room
      %th Start Time
      %th End Time
      %th Days
      %th College
    - @unavailable_courses.each do |course|
      %tr
        %td= course.course_number
        %td= course.section
        %td= course.title
        %td= course.try(:instructor).try(:name)
        %td= course.seats_left
        %td= course.seats
        %td= course.building
        %td= course.room
        %td= course.begin_time.strftime("%I:%M %p")
        %td= course.end_time.strftime("%I:%M %p")
        %td= course.days
        %td= course.college.college_tag.upcase


