<center>
  
  <h1>When do you like to take your classes?</h1>
  <p>Are you a morning, afternoon, or evening person?</p>
  <table class="preferences">
    <tr>
      <td>
        <%= image_tag "weather_fog.png", :height => "96" %>
        <%= link_to "Morning", "", :class => "btn" %>
      </td>
      <td>
        <%= image_tag "weather_clear.png", :height => "96"  %>
        <%= link_to "Afternoon", "", :class => "btn primary" %>
        
      </td>
      <td>
        <%= image_tag "moon.png", :height => "96"  %>
        <%= link_to "Evening", "", :class => "btn success" %>
        
      </td>
    </tr>
  </table>


  </center>
