= form_for [@type, @wall_message], :remote => true do |f|
  -if @wall_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wall_message.errors.count, "error")} prohibited this wall_message from being saved:"
      %ul
        - @wall_message.errors.full_messages.each do |msg|
          %li= msg

  .field
    %h3 Leave a Message
    = f.text_area :content, :rows => 5
  .actions
    = f.submit 'Post Message', :class => "btn btn-primary"
