- content_for :sidebar do 
  %h3
    = @course.course_number 
    = @course.title 
  %h4 
    Instructor: 
    = link_to @course.instructor.name, @course.instructor

  %br

  %p 
    Section: 
    = @course.section 

  %p 
    Building: 
    = @course.building 


  = @course.seats 


  = @course.room 

  = @course.begin_time 

  = @course.end_time 


  = @course.days 

