<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.course_number %>
</p>

<p>
  <b>Section:</b>
  <%= @course.section %>
</p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Instructor:</b>
  <%= @course.instructor_id %>
</p>

<p>
  <b>Seats:</b>
  <%= @course.seats %>
</p>

<p>
  <b>Building:</b>
  <%= @course.building %>
</p>

<p>
  <b>Room:</b>
  <%= @course.room %>
</p>

<p>
  <b>Start time:</b>
  <%= @course.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @course.end_time %>
</p>

<p>
  <b>Days:</b>
  <%= @course.days %>
</p>

<p>
  <b>College:</b>
  <%= @course.college %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
