%h3
  = @course.course_number 
  = @course.section 
  = @course.title 

= @course.instructor.name

= @course.seats 

= @course.building 

= @course.room 

= @course.begin_time 

= @course.end_time 


= @course.days 

