- content_for :sidebar do 
  %h3
    = @course.course_number 
    = @course.title 
  %h4 
    Instructor: 
    = link_to @course.instructor.name, @course.instructor

  %br

  %p 
    Section: 
    = @course.section 

  %p 
    Building: 
    = @course.building 


  = @course.seats 


  = @course.room 

  = @course.begin_time 

  = @course.end_time 


  = @course.days 

#message_board 
= render 'wall_messages/form'

:javascript
  $(document).ready(function() { 
    $('#message_board').load('#{course_wall_messages_path(@course.id)}');
    $('#new_wall_message').bind("ajax:success", function(evt, data, status, xhr){ 
      $('#message_board').load('#{course_wall_messages_path(@course.id)}');
    });
  });

