- content_for :sidebar do 
  %h3
    = @course.course_number 
    = @course.title 
  %h4 
    Instructor: 
    = link_to @course.instructor.name, @course.instructor

  %br

  %p 
    Section: 
    = @course.section 

  %p 
    Building: 
    = @course.building 

  %p
    Seats Left:
    = @course.seats_left

  %p 
    Room:
    = @course.room 

  %p 
    Course Time:
    = @course.begin_time.localtime.strftime("%H:%I %p")
    \- 
    = @course.end_time.localtime.strftime("%H:%I %p")


  = @course.days 

  %hr

  = render 'wall_messages/form'

.container-fluid
  .row-fluid
    .span10
      #message_board 

:javascript
  $(document).ready(function() { 
    $('#message_board').load('#{course_wall_messages_path(@course.id)}');
    $('#new_wall_message').bind("ajax:success", function(evt, data, status, xhr){ 
      $('#message_board').load('#{course_wall_messages_path(@course.id)}');
      $('#wall_message_content').val("");
    });
  });

