<!DOCTYPE html>
<html>
<head>
  <title>Classly</title>
  <%= stylesheet_link_tag    "application", "boot-1.2" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="topbar"> 
      <div class="topbar-inner"> 
        <div class="container"> 
          <h3><a href="/">Classly</a></h3> 
          <ul class="nav"> 
            <li class="active"><a href="#masthead">Home</a></li> 
            <% if current_user %>
            <li><a href="#about">Friends</a></li> 
            <li><a href="#">My Schedule</a></li>
            <li><%= link_to "Course List", courses_path %></li>
            <li><a href="#">Settings</a></li>
            <form action=""> 
              <input type="text" placeholder="Search for a course..." /> 
            </form> 
          <% end %>

          </ul> 

          <div id="auth">
            <% if current_user %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
              <img src="https://graph.facebook.com/<%=current_user.facebook_user_id%>/picture" width="24" height="24" />
            <% else %>
              <%= link_to (image_tag "fb-login-button.png",  :id =>"facebook"),  user_omniauth_authorize_path(:facebook) %>
            <% end %>
          </div> 

        </div> 
      </div> 
    </div> 


    <%= yield %>

  </body>
</html>
